@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color:black;
    color:white;

    &__wrapper {
        font-size: 18px;
        position: relative;
        max-width: 1240px;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    &__blocks {
        display: flex;
        gap: 50px;
        margin: 0 auto;
    }

    &__block {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }


    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__profile {
        text-decoration: none;
        color: inherit;

        &-icon {
            cursor: pointer;
            background-color: red;
        }

    }
}
.application__icon--disabled {
  /* Серый цвет для неактивной кнопки */
  filter: grayscale(100%); /* Делает иконку полностью серой */
  /* Убедитесь, что нет других правил, которые могут скрывать ссылку */
}

.header__profile-email {
  margin-left: 8px; 
  color: white; 
  text-decoration: none; 
  cursor: pointer;

  @include mobileLandscape {
    font-size: 14px;
  }
  
  @include mobile {
    font-size: 13px;
    margin-left: 4px;
  }
  
  @include smallMobile {
    font-size: 12px;
    margin-left: 2px;
  }
  
  @include extraSmallMobile {
    font-size: 10px;
    margin-left: 2px;
  }
}

.header__profile-email:hover {
  text-decoration: underline; 
}

.burger__icon {
    display: none;
}

.cancel__icon {
    display: none;
}

.burger__menu {
    display: none;
}

.application__icon {
  &-wrapper {
    position: relative;
  }

  &-circle {
    position: absolute;
    top: -7px;
    left: -7px;
    background-color:black;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white; /* Add this line to add white borders */
  }
}

.header__logo {
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(45deg, #6b443a, #e4ae85); /* Standard syntax */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Fallback: set a background color */
  
  @include mobileLandscape {
      font-size: 16px; // Adjust the font size as needed for mobile landscape view
  }
  
  @include mobile {
      font-size: 14px; // Adjust for mobile view
  }
  
  @include smallMobile {
      font-size: 12px; // Adjust for small mobile view
  }
  
  @include extraSmallMobile {
      font-size: 10px; // Adjust for extra small mobile view
  }
  
  // Add more media queries if needed for different screen sizes
}

@include tablet {
    .header__wrapper {
      max-width: 1100px;
    }
}
  
@include largeTablet {
    .header__wrapper {
      max-width: 900px;
    }
}
  
@include mediumTablet {
    .header__wrapper {
      max-width: 800px;
    }
}
  
@include smallTablet {
    .header__wrapper {
      max-width: 700px;
    }
  
    .burger__icon {
      display: inline-block;
      margin-bottom: 5px;
    }
  
    .cancel__icon {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin-bottom: 5px;
    }
  
    .cancel__icon::before,
    .cancel__icon::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: $brand-secondary;
      transform-origin: center;
    }
  
    .cancel__icon::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    .cancel__icon::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    .header__block {
      display: none;
      cursor: pointer;
    }
  
    .burger__menu {
      display: block;
      z-index: 1000;
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 200px;
      height: auto;
      background-color: $brand;
      display: flex;
      flex-direction: column;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
  
      &-item {
        padding: $space-m;
        text-decoration: none;
        color: $default-color;
        cursor: pointer;
        transition: color .2s ease;
  
        &:hover {
          color: gray;
        }
      }
    }
}

@include mobileLandscape {
    .header__wrapper {
      max-width: 600px;
    }
}
  
@include mobile {
    .header {
      &__wrapper {
        max-width: 500px;
      }

      &__title {
        font-size: 18px;
        min-width: 100px;
      }
    }
}
  
@include smallMobile {
    .header__wrapper {
      max-width: 450px;
    }
}
  
@include extraSmallMobile {
    .header__wrapper {
      max-width: 380px;
    }
}
  
@include ultraSmallMobile {
    .header__wrapper {
      max-width: 330px;
    }
}
  
@include tinyMobile {
    .header__wrapper {
      max-width: 290px;
    }
}